@import './../../../common/styles/vars'
@import './../../../common/styles/templates'

.sectionContainer
  background-color: $footer-background
  padding: 80px 0 40px
  .textContainer
    @extend %list-prevent-default
    max-width: 1140px
    margin: 0 auto
    column-count: 4