.timerContainer
  height: 55px
  max-width: 1200px
  background-color: lightgrey
  border-radius: 10px
  overflow: hidden

.progressBar
  background-color: lightgreen
  height: inherit

.timer
  position: absolute
  right: 10px
  bottom: 5px

