@import "./../../../../common/styles/_vars.sass"

.stepContainer
  max-width: $medium-breakpoint
  text-align: center

.stepCircle
  height: 90px
  width: 90px
  border-radius: 50%
  background-color: $background-color-grey
  color: black
  font-family: 'Raleway', sans-serif
  font-weight: 700
  font-size: 30px
  line-height: 90px
  text-align: center
  margin: 0 auto

.stepCircle:hover
  background-color: $background-color-accent
  color: white

.heading
  color: $bold-text-color
  font-family: 'Raleway', sans-serif
  font-size: 16px
  font-weight: 700
  height: 38px

.paragraph
  color: $regular-text-color
  font-family: 'Raleway', sans-serif
  font-size: 14px
  font-weight: 400