@import "./../../../common/styles/_vars.sass"
@import "./../../../common/styles/_templates.sass"

.stepsContainer
 max-width: 1150px
 margin: 0 auto

.sectionHeader
 @extend %bold-text
 font-size: 36px
 text-align: center
 text-transform: capitalize
 margin-bottom: 50px

.list
 @extend %five-column-grid
 @extend %list-prevent-default
 @media screen and (max-width: $large-breakpoint)
   display: grid
   grid-template-columns: 1fr 1fr
 @media screen and (max-width: $medium-breakpoint)
   display: block


