@import "./_vars.sass"

%two-column-grid
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 40px
  max-width: 1150px
  margin: 0 auto

%four-column-grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  column-gap: 40px
  max-width: 1140px
  margin: 0 auto

%five-column-grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  column-gap: 40px

%button-hover
  background-color: white
  color: $background-color-accent
  cursor: pointer

%list-prevent-default
  list-style-type: none
  margin: 0
  padding: 0

%regular-text
  color: $regular-text-color
  font-family: 'Raleway', sans-serif
  font-weight: 400

%bold-text
  color: $bold-text-color
  font-family: 'Raleway', sans-serif
  font-weight: 700

%overflow-ellipsis
  text-overflow: ellipsis
  overflow: hidden

%footer-anchor-item
  font-family: 'Lato', sans-serif
  font-size: 14px
  font-weight: 300
  color: #abadad
  text-decoration: none
  &:hover
    color: $footer-accent-color
    text-decoration: underline