@import "./_vars.sass"

%two-column-grid
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 40px
  max-width: 1150px
  margin: 0 auto

%button-hover
  background-color: white
  color: $background-color-accent
  cursor: pointer