$medium-breakpoint: 767px
$large-breakpoint: 1200px

$bold-text-color: #515b5f
$regular-text-color: #333333
$accent-text-color: #f18762

$background-color-grey: #ebebeb
$background-color-light-grey: #fafafa
$background-color-accent: #28d2d0
$background-color-blue: #455a89