$small-breakpoint: 575px
$medium-breakpoint: 767px
$large-breakpoint: 1200px

$bold-text-color: #515b5f
$regular-text-color: #333333
$accent-text-color: #f18762
$footer-text-color: #666868
$footer-accent-color: #f27e51


$background-color-grey: #ebebeb
$background-color-light-grey: #fafafa
$background-color-accent: #28d2d0
$background-color-blue: #455a89
$background-copyright: #232828
$footer-background: #2b3030